@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  /* Soft, translucent tracker */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* new scroller css for smooth scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* my-font-face */
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/MyFont.woff2') format('woff2');
  font-display: swap;
}

/* font face */
@font-face {
  font-family: 'MyFont2';
  src: url('/fonts/MyFont2.woff2') format('woff2');
  font-display: swap;
}

/* font-face 3 */
@font-face {
  font-family: 'MyFont3';
  src: url('/fonts/MyFont3.woff2') format('woff2');
  font-display: swap;
}

/* font-face-4 */
@font-face {
  font-family: 'MyFont4';
  src: url('/fonts/MyFont4.woff2') format('woff2');
  font-display: swap;
}

/* font--face-5 */
@font-face {
  font-family: 'MyFont5';
  src: url('/fonts/play-fair1.woff2') format('woff2');
  font-display: swap;
}


/* basic css boilerplate code.. */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
}

#root {
  width: 100%;
  overflow-x: hidden;
}


body {
  font-family: 'MyFont', sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* symantic styling */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
button {
  font-weight: 200;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth body {
  overflow: hidden;
}

/* lenis smooth scroller */

.lenis.lenis-scrolling {
  pointer-events: none;
}

/* making things responsive... */

@media (max-width: 1024px) {
  .desktop {
    display: none !important;
  }

  .hamburger {
    display: block !important;
  }

}

@media (max-width: 1180px) {
  .about-container {
    display: flex !important;
    flex-direction: column !important;
  }
}