@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

o-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/MyFont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont2';
  src: url('/fonts/MyFont2.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont3';
  src: url('/fonts/MyFont3.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* Secondary font */
@font-face {
  font-family: 'MyFont4';
  src: url('/fonts/MyFont4.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont4';
  src: url('/fonts/play-fair1.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}



body {
  font-family: 'MyFont', sans-serif;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth body {
  overflow: hidden;
}

